# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a


# Packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# IDE's stuff
*.layout
.idea

# Latex Stuff
*.log
*.aux
*.out
*.gz

# Python stuff
*.pyc
**./*.pyc

# Spark stuff
/sparkdata

